{% extends "base.html" %}

{% block title %}Change Password | User{% endblock %}

{% set active_page = "edit_password" %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h3 class="mt-3 mb-2 text-muted"><i class="fas fa-key"></i> Change Password</h3>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Password Form</h6>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-row">
                    <div class="form-group">
                        <label for="inputEmail4">Current Password</label>
                        <input type="password" class="form-control" id="oldpassword" name="oldpassword"
                            placeholder="Current Password">
                        <label for="inputPassword4">New Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
                        <label for=" inputPassword4">Confirm New Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
                    </div>
                </div>
                <button type=" submit" class="btn btn-primary mt-2">Update Password</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}