{% extends "user/base.html" %}

{% block title %}Change Password | Venture{% endblock %}

{% set active_page = "edit_password" %}

{% block content %}
<br><br><br><br>
<div class="container">

    <!-- Page Heading -->
    <h3 class="mt-3 mb-2 text-muted"><i class="fas fa-key"></i> Change Password</h3>

    <!-- DataTales Example -->
    <div class="card mb-4" id="post_container">
        <div class="card-header py-3" id="post_card_header">
            <h6 class="m-0 fw-bold" id="job_title">Password Form</h6>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-row">
                    <div class="form-group">
                        <label class="venture_label" for="inputEmail4">Current Password</label>
                        <input type="password" class="form-control venture_input mb-2" id="oldpassword" name="oldpassword"
                            placeholder="Current Password">
                        <label class="venture_label" for="inputPassword4">New Password</label>
                        <input type="password" class="form-control venture_input mb-2" id="password" name="password" placeholder="New Password">
                        <label class="venture_label" for=" inputPassword4">Confirm New Password</label>
                        <input type="password" class="form-control venture_input mb-2" id="password2" name="password2" placeholder="Confirm Password">
                    </div>
                </div>
                <button type=" submit" class="btn mt-3 text-white" id="venture_button">Update Password</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}