{% extends "landing_page/landing_master.html" %}

{% block title %}About | Venture{% endblock %}

{% set active_page = "about" %}

{% block content %}
<!--- Start Landing Page Image -->
<div class="home-inner home-inner2">
</div>
<!--- End Landing Page Image -->

<!-- Page Content-->
<div class="caption caption-shadow bg-white">
    <div class="container py-5">
        <div class="w-100 text-center">
            <h2 class="text-capitalize" id="about_headings">About Us</h2><br>
        </div>
        <div id="about_description">
            <div class="row">
                <div class="col-md-2 ps-0">
                    <img id="p_venture" src="{{ url_for('static',filename='landing_page/assets/img/venture.png') }}" width="242px"
                        alt="">
                </div>
                <div class="col-md-10" id="about_sub_caption_top">
                    is an online employment service. We offer variety of
                </div>
            </div>
            <span id="about_sub_caption_bottom">
                jobs and careers from different companies nationwide. We want to<br>
                empower the workforce to establish a diverse community.<br>
                Seek your venture with us!<br>
            </span>
        </div>
        <h2 class="text-capitalize my-4" id="about_headings">Connect With US</h2>
        <div class="social-icons">
            <a class="social-icon" href="#!"><i class="fab fa-linkedin-in" id="about_icons"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-github" id="about_icons"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-twitter" id="about_icons"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-facebook-f" id="about_icons"></i></a>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}