{% extends "landing_page/landing_master.html" %}

{% block title %}Welcome | Venture{% endblock %}

{% set active_page = "home" %}

{% block content %}
<!--- Start Landing Page Image -->
<div class="home-inner">
</div>
<!--- End Landing Page Image -->

<!-- Page Content-->
<div class="caption">
    <div class="text-center w-100 pb-5">
        <img id="image_header" class="mt-5" src="{{ url_for('static',filename='landing_page/assets/img/venture.png') }}"
            width="523px" alt="">
    </div>
    <div class="row">
        <div class="col-xl-3"></div>
        <div class="col-xl-3"></div>
        <div class="col-xl-6">
            <div id="caption_wrapper" class="text-white">
                <span class="text-white fw-bold ms-4" id="journeys_caption">Journeys</span><br>
                <span class="sub_caption ms-5">are meant</span><br>
                <span class="sub_caption ms-4"> to be taken</span><br>
                <div id="start_btn_wrapper">
                    <a href="/sign-up" class="btn btn-lg text-uppercase" id="start_now_button">Start Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}