<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/home">
        <img src="{{ url_for('static',filename='admin/img/venture-white.png') }}" width="102px" alt="">
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {{ 'active' if active_page == 'home' else '' }}">
        <a class="nav-link" href="/admin/home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Account
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item {{ 'active' if active_page == 'view_user' or active_page == 'add_user' or active_page == 'edit_user' else '' }}">
        <a class="nav-link  {{ '' if active_page == 'view_user' or active_page == 'add_user' or active_page == 'edit_user' else 'collapsed' }}" href="#" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-fw fa-users"></i>
            <span>Manage User</span>
        </a>
        <div id="collapseOne" class="collapse {{ 'show' if active_page == 'view_user' or active_page == 'add_user' or active_page == 'edit_user' else '' }}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">User Records:</h6>
                <a class="collapse-item {{ 'active' if active_page == 'view_user' or active_page == 'edit_user' else '' }}" href="/admin/user">View User</a>
                <a class="collapse-item {{ 'active' if active_page == 'add_user' else '' }}" href="/admin/user/add">Add User</a>
            </div>
        </div>
    </li>

    <li class="nav-item {{ 'active' if active_page == 'view_profile' or active_page == 'edit_profile' or active_page == 'edit_password' else '' }}">
        <a class="nav-link {{ '' if active_page == 'view_profile' or active_page == 'edit_profile' or active_page == 'edit_password' else 'collapsed' }}" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-id-badge"></i>
            <span>Manage Profile</span>
        </a>
        <div id="collapseTwo" class="collapse {{ 'show' if active_page == 'view_profile' or active_page == 'edit_password' or active_page == 'edit_profile' else '' }}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Your Profile:</h6>
                <a class="collapse-item {{ 'active' if active_page == 'view_profile' or active_page == 'edit_profile' else '' }}" href="/admin/profile">View Profile</a>
                <a class="collapse-item {{ 'active' if active_page == 'edit_password' else '' }}" href="/admin/change-password">Change Password</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Content
    </div>

    <!-- Nav Item - Content -->
    <li class="nav-item {{ 'active' if active_page == 'view_post' or active_page == 'edit_post' or active_page == 'add_post' else '' }}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="true" aria-controls="collapseThree">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Manage Post</span>
        </a>
        <div id="collapseThree" class="collapse {{ 'show' if active_page == 'view_post' or active_page == 'edit_post' or active_page == 'add_post' else '' }}" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Records:</h6>
                <a class="collapse-item {{ 'active' if active_page == 'view_post' or active_page == 'edit_post' else '' }}" href="/admin/post">View Jobs</a>
                <a class="collapse-item {{ 'active' if active_page == 'add_post' else '' }}" href="/admin/post/add">Add Jobs</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Footer -->
    <footer class="border-top border-bottom py-3 w-100 opacity-75 mt-3">
        <div class="text-center w-100">
            <a class="btn btn-sm text-white font-weight-bold py-2 px-3 shadow mb-2" id="venture_button" href="/admin/not-exist">Visit our page!</a>
        </div>
        <div class="row">
            <div class="col-3 pr-0">
                <img class="mt-2 float-right" id="logo_m83x" src="{{ url_for('static',filename='landing_page/assets/img/logo.png') }}"
                    width="32px" alt="">
            </div>
            <div class="col-9">
                <small class="text-light mt-1" id="copyright_sidebar">&copy 2022 M83X Systems <br>
                    All Rights Reserved</small>
            </div>
        </div>
    </footer>


</ul>