{% extends "admin/admin_master.html" %}

{% block title %}Add Post | Admin{% endblock %}

{% set active_page = "add_post" %}

{% block content %}
<script src="https://f001.backblazeb2.com/file/buonzz-assets/jquery.ph-locations-v1.0.0.js"></script>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Add Jobs</h1>

    <!-- Start Message Validation -->
    <div class="center mx-auto w-100" align="center">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissible fade show">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissible fade show">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- End Message Validation -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Form</h6>
        </div>
        <div class="card-body">
        <form action="" method="POST">
            <label for="title">Job Title</label>
            <input class="form-control" type="text" id="title" name="title" placeholder="Job Title"><br>
        
            <label for="text">Job Description</label>
            <input type="hidden" class="form-control" id="text" name="text" cols="30" rows="10"
                placeholder="Whats on your mind?">
            <trix-editor input="text" cols="30" rows="100"></trix-editor><br>
        
            <label for="">Company Location</label>
            <div class="row">
                <div class="col-md-6">
                    Region*<select class="form-control mb-2" id="region" onclick="getHidden()">
        
                    </select>
                    Province*<select class="form-control mb-2" id="province" onclick="getHidden()">
                    </select>
                    City*<select class="form-control" id="city" onclick="getHidden()">
                    </select><br>
                    <input type="hidden" name="location" id="province_hidden">
                    <input type="hidden" name="location1" id="city_hidden">

                    <label for="">Salary Range Monthly (0 - 150k ₱)</label><br>
                    <input class="form-check-input ml-2"
                        type="checkbox" value="" id="dont_specify" onclick="onSpecify()">
                    <label class="form-check-label ml-4 mb-3" for="dont_specify">
                        Don't Specify
                    </label>
                    <div class="bg-light px-3 pt-2 pb-3 border rounded" id="salary_div">
                        From: <span id="rangeValue"></span><br><input id="salary" type="range" class="form-range w-100" min="0" max="150"
                            value="15" name="salary" oninput="updateValue(this.value)"
                            onchange="updateValue(this.value)"><br>
                        To: <span id="rangeValue1"></span><br><input id="salary1" type="range" class="form-range w-100" min="0" max="150"
                            value="35" name="salary1" oninput="updateValue1(this.value)"
                            onchange="updateValue1(this.value)">
                    </div><br>
                    <script>
                        function updateValue(newValue) {
                            document.getElementById("rangeValue").innerHTML = newValue + "K";
                        }
                        function updateValue1(newValue) {
                            document.getElementById("rangeValue1").innerHTML = newValue + "K";
                        }
                        function onSpecify() {
                            checkBox = document.getElementById("dont_specify");
                            salaryDiv = document.getElementById("salary_div");
                            
                            salary1 = document.getElementById("salary1");
                            if (salaryDiv.style.display === "none") {
                                salaryDiv.style.display = "block";
                            }
                            else {
                                salary = document.getElementById("salary").value = "0";
                                salary1 = document.getElementById("salary1").value = "0";
                                salaryDiv.style.display = "none";
                            }
                        }
                    </script>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        
            <h5>Additional Information(Required)</h5>
        
            <div class="row">
                <div class="col-md-6">
                    <label for="">Careel Level</label>
                    <select class="form-control" name="level" id="">
                        <option disabled selected>Select options</option>
                        <option value="Less than 1 Year Experienced Employee">Less than 1 Year Experienced Employee
                        </option>
                        <option value="1-4 Years Experienced Employee">1-4 Years Experienced Employee</option>
                        <option value="Supervisor/5 Years & Up Experienced Employee">Supervisor/5 Years & Up Experienced
                            Employee</option>
                    </select><br>
        
                    <label for="">Years Of Experience</label>
                    <select class="form-control" name="experience" id="">
                        <option disabled selected>Select options</option>
                        <option value="Fresh Graduate">Fresh Graduate</option>
                        <option value="1 Year">1 Year</option>
                        <option value="2 Years">2 Years</option>
                        <option value="3 Years">3 Years</option>
                        <option value="4 Years">4 Years</option>
                        <option value="5 Years">5 Years</option>
                    </select><br>
                    <label for="">Job Type</label>
                    <select class="form-control" name="jobtype" id="">
                        <option disabled selected>Select options</option>
                        <option value="Full-Time">Full-Time</option>
                        <option value="Part-Time">Part-Time</option>
                    </select><br>
                </div>
                <div class="col-md-6">
                    <label for="">Job Specializations</label>
                    <input class="form-control" type="text" name="specialization"
                        placeholder="Job Specializations (please specify)"><br>
        
                    <label for="">Qualification</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Highschool Diploma" name="qualification"
                            id="qualification">
                        <label class="form-check-label" for="qualification">
                            Highschool Diploma
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Bachelor's/College Degree" name="qualification1"
                            id="qualification1">
                        <label class="form-check-label" for="qualification1">
                            Bachelor's/College Degree
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            value="Professional License (Passed Board/Bar/Professional License Exam)" name="qualification2"
                            id="qualification2">
                        <label class="form-check-label" for="qualification2">
                            Professional License (Passed Board/Bar/Professional License Exam)
                        </label>
                    </div><br>
                </div>
            </div>
        
            <div>
                <button class="btn btn-lg btn-primary float-end" onclick="getHidden()">Post</button>
            </div>
        </form>
        </div>
    </div>

</div>
<!-- Dynamic PH Locations -->
<script type="text/javascript">
    var my_handlers = {
        fill_provinces: function () {
            var region_code = $(this).val();
            $('#province').ph_locations('fetch_list', [{ "region_code": region_code }]);
        },
        fill_cities: function () {
            var province_code = $(this).val();
            $('#city').ph_locations('fetch_list', [{ "province_code": province_code }]);
        },
        fill_barangays: function () {
            var city_code = $(this).val();
            $('#barangay').ph_locations('fetch_list', [{ "city_code": city_code }]);
        }
    };

    $(function () {
        $('#region').on('change', my_handlers.fill_provinces);
        $('#province').on('change', my_handlers.fill_cities);
        $('#city').on('change', my_handlers.fill_barangays);

        $('#region').ph_locations({ 'location_type': 'regions' });
        $('#province').ph_locations({ 'location_type': 'provinces' });
        $('#city').ph_locations({ 'location_type': 'cities' });
        $('#barangay').ph_locations({ 'location_type': 'barangays' });

        $('#region').ph_locations('fetch_list');
    });

    // Get value of select and store to hidden inputs
    var sel = document.getElementById("province");
    var text = sel.options[sel.selectedIndex].text;
    var sel1 = document.getElementById("city");
    var text1 = sel1.options[sel1.selectedIndex].text;

    function getHidden() {
        var location = $("#province option:selected").text();
        var location1 = $("#city option:selected").text();
        document.getElementById("province_hidden").value = location;
        document.getElementById("city_hidden").value = location1;
    }
</script>
{% endblock %}