{% extends "admin/admin_master.html" %}

{% block title %}Edit Job | Admin{% endblock %}

{% set active_page = "edit_post" %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Edit Job</h1>

    <!-- Start Message Validation -->
    <div class="center mx-auto w-100" align="center">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissible fade show">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissible fade show">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- End Message Validation -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Form</h6>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Job Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ post.title }}">

                        <label for="text">Job Description</label>
                        <input type="hidden" class="form-control" id="text" name="text" rows="5"
                            placeholder="Whats on your mind?" value="{{ post.text }}">
                        <trix-editor input="text"></trix-editor>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Update Job</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}