{% extends "admin/admin_master.html" %}

{% block title %}Jobs | Admin{% endblock %}

{% set active_page = "view_post" %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Job Posts</h1>

    <!-- Start Message Validation -->
    <div class="center mx-auto w-100" align="center">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissible fade show">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissible fade show">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- End Message Validation -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="mt-2 font-weight-bold text-primary float-left">Jobs List Table</h6>
            <a class="btn btn-primary float-right" href="/admin/post/add">Add Jobs</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SL NO</th>
                            <th>Company</th>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Date Posted</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.user.company }}</td>
                            <td>{{ post.user.firstname }} {{ post.user.lastname }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.date_created }}</td>
                            <td>
                                <a href="/admin/edit-post/{{ post.id }}" class="btn btn-info">Edit</a>
                                <a href="/admin/delete-post/{{ post.id }}" class="btn btn-danger" id="delete">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}