#post_container{
    border-right: 5px solid#0c69f2;
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.2);
}
