{% extends "user/base.html" %}

{% block title %}{{ post.title }} {{ post.user.company }} | Venture{% endblock %}

{% set active_page = "view_post" %}

{% block content %}
<div id="posts">

    <div class="card mb-3" id="post_container">

        <!-- Start Header Section -->
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="text-primary mt-1">{% block header %}<i class="fas fa-briefcase"></i> {{ post.title }}{% endblock
                %}</h3>
            {% if user.id == post.author %}
            <div class="btn-group">
                <small class="text-muted mt-1 me-2">
                    {% if post.date_updated == None %}
                    Posted {{ post.date_created.strftime("%m/%d/%Y, %H:%M:%S") }}
                    {% else %}
                    Last Updated {{ post.date_updated.strftime("%m/%d/%Y, %H:%M:%S") }}
                    {% endif %}
                </small>
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/edit-post/{{ post.id }}" class="dropdown-item">Edit</a>
                    </li>
                    <li>
                        <a href="/delete-post/{{ post.id }}" class="dropdown-item" id="delete">Delete</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
        <!-- End Header Section -->

        <!-- Start Content Section -->
        <div class="card-body">
            <a class="text-secondary text-decoration-none" href="/posts/{{ post.user.company }}">{{ post.user.company
                }}</a><br><br>
            <span class="fw-bold">{{ post.location.capitalize() }} ({{ post.location1.capitalize() }})</span><br>

            <!-- Start Salary -->
            {% if post.salary == "0" and post.salary1 == "0" %}
            {% else %}
            <span class="fw-bold">PHP {{ post.salary }}K - {{ post.salary1 }}K monthly</span>
            {% endif %}
            <!-- End Salary -->

            <hr>

            <!-- Start Job Description -->
            <p class="fw-bold">
                Job Description
            </p>
            <div class="card-text">
                {{ post.text|safe }}
            </div><br><br>

            <!-- Start Additional Information Section -->
            <h5>Additional Information</h5>
            <div class="row mt-3">
                <div class="col-md-6">
                    <span class="fw-bold">Career Level</span><br>
                    {{ post.level }}<br><br>
                    <span class="fw-bold">Years of Experience</span><br>
                    {{ post.experience }}<br><br>
                    <span class="fw-bold">Job Specializations</span><br>
                    <span class="text-primary">{{ post.specialization }}</span><br><br>
                </div>
                <div class="col-md-6">
                    <span class="fw-bold">Job Type</span><br>
                    {{ post.jobtype }}<br><br>
                    <span class="fw-bold">Qualification</span><br>

                    {% if post.qualification == None and post.qualification1 == None and post.qualification2 == None and
                    post.qualification3
                    == None and post.qualification4 == None
                    %}
                    Not Specified
                    {% else %}
                    {% if not post.qualification %}
                    {% else %}
                    {{ post.qualification }},
                    {% endif %}

                    {% if not post.qualification1 %}
                    {% else %}
                    {{ post.qualification1 }},
                    {% endif %}

                    {% if not post.qualification2 %}
                    {% else %}
                    {{ post.qualification2 }},
                    {% endif %}

                    {% if not post.qualification3 %}
                    {% else %}
                    {{ post.qualification3 }},
                    {% endif %}

                    {% if not post.qualification4 %}
                    {% else %}
                    {{ post.qualification4 }},
                    {% endif %}

                    {% endif %}
                </div>
            </div>
            <!-- End Additional Information Section -->

            <!-- Start Like Button -->
            <div class="text-muted">
                {% if user.id in post.likes|map(attribute="author")|list %}
                <!-- <a class="text-decoration-none" href="/like-post/{{ post.id }}"> -->
                <i class="fas fa-chart-line text-primary" id="like-button-{{ post.id }}"
                    onclick="like({{ post.id }})"></i>
                <!-- </a> -->
                {% else %}
                <!-- <a class="text-decoration-none" href="/like-post/{{ post.id }}"> -->
                <i class="fas fa-chart-line" id="like-button-{{ post.id }}" onclick="like({{ post.id }})"></i>
                <!-- </a> -->
                {% endif %}
                <span id="likes-count-{{ post.id }}">{{ post.likes|length }}</span> <small>Popularity</small><br><br>
            </div>
            <!-- End Like Button -->

            <div class="alert alert-info text-center">
                <i class="fas fa-check-circle"></i>
                Must Submit Application Form and Resume.<br>
                <button class="btn btn-info mt-2">
                    <a class="text-light text-decoration-none" href="mailto:{{ post.user.email }}">Apply Now</a>
                </button>
            </div>



        </div>
        <!-- End Content Section -->

        <div class="card-footer text-muted">
            <!-- Start Comment Section -->
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                var disqus_config = function () {
                    this.page.url = "http://127.0.0.1:5000/post/{{ post.id }}";  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "http://127.0.0.1:5000/{{ post.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://m83x-jobfind.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <!-- End Comment Section -->
        </div>

    </div> <!-- End Card -->

    <a class="float-start mb-5" href="/home"><button class="btn btn-lg btn-secondary">Back</button></a>

</div>

{% block footer %} {% endblock %}

{% endblock %}