{% extends "admin/admin_master.html" %}

{% block title %}Change Password | Admin{% endblock %}

{% set active_page = "edit_password" %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-key"></i> Change Password</h1>

    <!-- Start Message Validation -->
    <div class="center mx-auto w-100" align="center">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- End Message Validation -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Password Form</h6>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-row">
                    <div class="form-group">
                        <label for="inputEmail4">Current Password</label>
                        <input type="password" class="form-control" id="oldpassword" name="oldpassword"
                            placeholder="Current Password">
                        <label for="inputPassword4">New Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
                        <label for=" inputPassword4">Confirm New Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
                    </div>
                </div>
                <button type=" submit" class="btn btn-primary">Update Password</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}