{% extends "base.html" %}

{% block title %}Register | Flask App{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Register</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="Email Address">

        <label for="username">User Name</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="User Name">

        <label for="password1">Password</label>
        <input class="form-control" type="password" id="password1" name="password1" placeholder="Password">

        <label for="password2">Confirm Password</label>
        <input class="form-control" type="password" id="password2" name="password2" placeholder="Confirm Password"><br>

        <div align="center">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </div>
</form>
{% endblock %}