<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top custom-sidebar" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none"><img class="img-fluid mx-auto"
                src="{{ url_for('static',filename='landing_page/assets/img/venture-white.png') }}" width="90px"
                alt="..." /></span>
        <span class="d-none d-lg-block">
            <img class="img-fluid mx-auto mb-5 pe-3"
                src="{{ url_for('static',filename='landing_page/assets/img/venture-white.png') }}" width="175px"
                alt="..." />
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a
                    class="nav-link js-scroll-trigger text-capitalize {{ 'text-white' if active_page == 'home' else '' }}"
                    href="/homepage">Home</a></li>
            <li class="nav-item"><a class="nav-link text-capitalize" href="/login">Log In / Sign Up</a></li>
            <li class="nav-item"><a
                    class="nav-link js-scroll-trigger text-capitalize {{ 'text-white' if active_page == 'about' else '' }}"
                    href="/about">About</a></li>
        </ul>
    </div>

    <div class="border-top pt-1 w-100 mb-0 opacity-75" id="sidebar_footer">
        <div class="row">
            <div class="col-3 text-end pe-0">
                <img id="logo_m83x" src="{{ url_for('static',filename='landing_page/assets/img/logo.png') }}"
                    width="32px" alt="">
            </div>
            <div class="col-9 text-start ps-2">
                <small class="text-light" id="copyright_sidebar">&copy 2022 M83X Systems <br>
                    All Rights Reserved</small>
            </div>
        </div>
    </div>
</nav>